.numbers{
  width: 100%;
  height: 60%;
 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.numbers button{
  margin-top: 5px;
  width: 7rem;
   color: #85144b;
   font-size: 2.5rem;
  height: 4rem;
  
}
.numbers button:hover{
  background-color: rgb(255, 20, 40);
  color: white;
}
